$font: Muller, Roboto, Helvetica, sans-serif;

.outer {
  position:relative;
  width:100%;
  height:100%;
}
.content {
  position:relative;
  width:100%;
  height:100%;
  min-height:100%;
  display:flex;

  @media screen and (max-height:640px), screen and (max-width:1020px) {
    flex-direction:column;
  }
}
.g-map {
  z-index:1;
  position:relative;
  flex:1;

  agm-map {
    width:100%;
    height:100%;
  }
}

/* Панель информации */
.info {
  z-index:2;
  position:relative;
  width:28.9%;
  min-width:400px;
  height:100%;
  padding:97px 66px 36px 0;
  box-shadow:-5px 3px 15px 0 hsla(300, 0%, 61%, .25);
  overflow:hidden;
  transition:padding, padding-bottom .3s linear;

  @media(max-width:1600px) {
    padding:97px 30px 36px 0;
  }

  @media(max-width:1400px) {
    padding:97px 30px 34px 0;
  }

  @media(max-height:900px) {
    padding-bottom:24px;
  }

  @media screen and (max-height:640px), screen and (max-width:1020px) {
    width:100%;
    min-width:0;
    height:30%;
    padding:20px 30px 20px 0;
  }

  @media screen and (max-height:560px), screen and (max-width:780px) {
    height:40%;
  }

  @media screen and (max-height:500px), screen and (max-width:640px) {
    padding:20px 20px 20px 0;
  }

  .scrollWrapper {
    height:inherit;
    min-height:100%;

    .wrapper {
      min-height:100%;
      display:flex;
      flex-direction: column;
      padding:0 0 0 96px;
      transition:padding .3s linear;

      @media(max-width:1400px) {
        padding:0 0 0 66px;
      }

      @media screen and (max-height:640px), screen and (max-width:1020px) {
        flex-direction: unset;
        justify-content:space-between;
        padding:0 0 0 30px;
      }

      @media screen and (max-height:500px), screen and (max-width:640px) {
        padding:0 0 0 20px;
      }
    }

  }

}
.logo-zone {
  position:absolute;
  top:0;
  left:0;
  background:#fff;
  width:inherit;
  height:97px;

  @media screen and (max-height:640px), screen and (max-width:1020px) {
    width:244px;
    height:50px;
  }
}
.logo-box {
  position:absolute;
  top:35px;
  left:96px;
  width:187px;
  height:27px;

  @media(max-width:1400px) {
    left:66px;
  }

  @media screen and (max-height:640px), screen and (max-width:1020px) {
    top:12px;
    left:30px;
  }

  @media screen and (max-height:500px), screen and (max-width:640px) {
    left:20px;
  }
}

/* Меню */
.ul-menu {
  list-style-type:none;
  margin:28px 0;
  padding:0;
  transition:margin, margin-top .3s linear;

  @media(max-width:1600px) {
    margin-top:0;
  }

  @media(max-width:1400px) {
    margin:0;
  }

  @media(max-height:1080px) {
    margin:0;
  }

  @media screen and (max-height:640px), screen and (max-width:1020px) {
    min-width:200px;
    margin:30px 0 0 0;
  }

  @media screen and (max-height:560px), screen and (max-width:780px) {
    min-width:150px;
    margin:30px 20px 0 0;
  }

  @media screen and (max-height:500px), screen and (max-width:640px) {
    min-width:90px;
  }

  li {
    line-height:47px;
    margin:0 0 9px 0;
    text-transform:uppercase;
    font-family: $font;
    font-size:21px;
    font-weight:300;
    letter-spacing:2.67px;
    transition:margin, line-height .3s linear;

    @media(max-height:900px) {
      line-height:44px;
      margin:0;
    }

    @media screen and (max-height:640px), screen and (max-width:1020px) {
      font-size:18px;
      line-height:28px;
      text-transform:none;
    }

    @media screen and (max-height:560px), screen and (max-width:780px) {
      font-size:16px;
      line-height:24px;
    }

    @media screen and (max-height:500px), screen and (max-width:640px) {
      font-size:14px;
      letter-spacing:0;
    }

    a {
      text-decoration:none;

      &.active {font-weight:400;}

      &:link {color:#000;}
      &:visited {color:#000;}
      &:hover {color:#000;}
      &:active {color:#000;}
    }
  }
}
/* Конец меню */

/* Адреса */
.addresses {
  margin:auto 0 0 0;

  @media(max-height:1080px) {
    &>.address:last-child{
      margin:0;
    }
  }

  @media screen and (max-height:640px), screen and (max-width:1020px) {
    display:flex;
  }

  @media screen and (max-height:560px), screen and (max-width:780px) {
    margin:30px 0 0 0;
  }

  .address {
    font-family:$font;
    font-weight:300;
    font-size:16px;
    line-height:24px;
    letter-spacing:.2px;
    margin:0 0 15px 0;
    position:relative;
    cursor:pointer;
    transition:margin .3s linear;

    @media screen and (max-height:640px), screen and (max-width:1020px) {
      margin:0 24px 0 0;
      min-width:200px;
    }

    @media screen and (max-height:560px), screen and (max-width:780px) {
      margin:0 20px 0 0;
      min-width:160px;
      font-size:14px;
      line-height:20px;
    }

    @media screen and (max-height:500px), screen and (max-width:640px) {
      min-width:100px;
      font-size:14px;
      line-height:20px;
    }

    @media screen and (max-height:400px), screen and (max-width:560px) {
      font-size:12px;
    }

    .icon-move-left {
      @media screen and (max-height:640px), screen and (max-width:1020px) {
        position:static;
        margin:0 12px 0 0;
        float:left;
      }
    }

    &.active {
      font-weight:400;
    }

    .nobr {
      white-space:nowrap;
    }

    .hi-res {
      display:inline;

      @media screen and (max-height:640px), screen and (max-width:1020px) {
        display:none;
      }
    }

    .low-res {
      display:none;

      @media screen and (max-height:640px), screen and (max-width:1020px) {
        display:inline;
      }
    }
  }
}
/* Конец адресов */

/* Дополнительная информация */
.additional-info {
  margin:57px 0 0 0;
  transition:margin .3s linear;

  @media(max-width:1600px) {
    margin:30px 0 0 0;
  }

  @media(max-width:1440px) and (max-height:800px) {
    display:none;
  }

  @media(max-height:1080px) {
    margin:30px 0 0 0;
  }

  @media screen and (max-height:640px), screen and (max-width:1020px) {
    display:none;
  }

  .additional-info-block {
    margin:0 0 15px 0;

    a {
      text-decoration:none;
    }
  }
}
/*  Конец Дополнительной информации */

/* Панель иконок внизу */
.icon-panel {
  max-width:244px;
  display:flex;
  justify-content:space-between;
  margin:12px 0 8px 0;
  transition:margin .3s linear;
  flex-shrink:1;

  @media(max-height:900px) {
    margin:12px 0 0 0;
  }

  @media screen and (max-height:640px), screen and (max-width:1020px) {
    flex-wrap:wrap;
    align-items:center;
    width:24px;
    margin:0;

    &>* {
      width:24px;
      height:30px;
      margin:auto auto;
    }
    .hpmd-icon>* {
      zoom:.75;
    }
    &>*:first-child {margin:0 auto auto auto;}
    &>*:last-child {margin:auto auto 0 auto;}
    &>div {
      display:flex;
      align-items:center;
      justify-content:center;
    }
    &>div>svg {
      position:static;
    }
  }

  @media screen and (max-height:500px), screen and (max-width:640px) {
    width:19px;
    .hpmd-icon>* {
      zoom:.5;
    }
  }

  @media screen and (max-height:400px), screen and (max-width:560px) {
    display:none;
  }

  &>* {margin:0 auto;}
  &>*:first-child {margin:0 auto 0 0;}
  &>*:last-child {margin:0 0 0 auto;}

}

/* Конец панели иконок внизу */

/* Конец панели информации */

/* Кастомизация скроллбара */
/deep/ {
  .mCSB_container.mCS_no_scrollbar_y {
    min-height:100%;
  }
  .mCS-dark-2.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: rgba(0, 224, 169, 0.75);
  }
  .mCS-dark-2.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar,
  .mCS-dark-2.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
  .mCS-dark-2.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{
    background-color: rgba(0, 224, 169, 1);
  }
}

/* Конец кастомизации скроллбара */

/* Иконки */
.hpmd-icon {
  display:inline-block;

  &>* {
    position:relative;
  }
}
.icon-msk {
  width:27px;
  height:27px;
}
.icon-spb {
  width:23px;
  height:24px;
}
.icon-twitter {
  width: 39px;
  height: 27px;
}
.icon-facebook {
  width: 12px;
  height: 36px;
  top:-5px;
  left:-3px;
}
.icon-google {
  width: 18px;
  height: 27px;
  right:-5px;
}
.icon-vimeo {
  width: 31px;
  height: 27px;
}
.icon-move-left {
  position:absolute;
  left:-58px;

  @media(max-width:1400px) {
    top:-6px;
    left:-46px;
  }
}
/* Конец иконок */
