@font-face{
  font-family: Muller;
  src: url(./assets/fonts/MullerLight.otf);
  font-weight:300;
  font-style:normal;
}

@font-face{
  font-family: Muller;
  src: url(./assets/fonts/MullerLightItalic.otf);
  font-weight:300;
  font-style:italic;
}

@font-face{
  font-family: Muller;
  src: url(./assets/fonts/MullerMedium.otf);
  font-weight:400;
  font-style:normal;
}

@font-face{
  font-family: Muller;
  src: url(./assets/fonts/MullerMediumItalic.otf);
  font-weight:400;
  font-style:italic;
}

* {box-sizing:border-box;}
html, body {
  margin:0;
  padding:0;
  max-width:100%;
  min-width:320px;
  height:100%;
  position:relative;
  font-size:16px;
  line-height:24px;
  font-family: Muller, Roboto, Helvetica, sans-serif;
  color:#000;
  background-color:#fff;
}

p {
  font-size:16px;
  line-height:24px;
}
